body{
    box-sizing: border-box;
    margin: 0px;

}

h1{
    font-family: tahoma, arial, helvetica;
    font-size: 2vw;
    font-weight: 50;
}
h3{
    font-family: tahoma, arial, helvetica;
    font-weight: 50;
}


.div-titulo-principal{

    text-align: center;
    background-image: linear-gradient(to top , rgb(39, 201, 25) ,rgb(14, 165, 192));
    overflow: hidden;
}

.titulo-principal{

    font-size: 3vw;
    font-family: Tahoma,sans-Serif;
}

.div-main{
    text-align: center;
    background-image: url(fondo-verde.webp);
    overflow: hidden ;
    background-size: contain;
    padding: 40px;
}

.div-form{

    background-image: linear-gradient( to right , rgba(38, 209, 22, 0.849) , rgb(24, 194, 180) );
    max-width: 300px;
    position: relative;
    left: 35vw;
    box-shadow: 5px , 5px , 5px black;
}

.div-form input{

    background : none;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: black , 5px , solid;
    width: 200px;
    height: 35px;
}

.Botones-empujar{
    display: inline;
    margin-top:10px;
}



.div-funciones{
    background-image: linear-gradient(to left , rgba(38, 209, 209) , rgb(32, 197, 76) );
    max-width: max-content;
    position: relative;
    left: 30vw;
}



.div-funciones input{
    
    
    
}

.inputs-primero{
    display: block;
    margin-top: 30px;
    position: relative;
    left: 20px;
    width: 380px;
    height: 100px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;

}

.inputs-mostrar-javascript{
    display: block;
    margin-top: 30px;
    position: relative;
    left: 20px;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}


.input-alfabeto-css{

    display:block;
    background-color: aliceblue;
    width: 380px;
    height:30px;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    left: 20px;
    border:none;
}

.inputs-tranparente{

    background-color:transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 3px , black , solid;
}

.boton-local-Storage-css{

    margin-top: 20px;
}