body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.imagen-cabecera{
    width: 100%;
    height: 40%;
}

.titulo-principal{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: rgb(0, 0, 0);
}

.titulo-tabla{
   text-align: center;
   margin: 0px;

}

.div-img-tabla{
    display:flex;
    justify-content: center;
    margin: 0px;
}

.tabla{
    width: 50%;
    height: 20%;
    text-align: center;
    border-collapse: collapse;
}

th,td{
  padding: 20px;
}

th{
    color: aliceblue;
}

thead{
    background-color: #14b491;
    border-bottom: solid  5px #0f362d;
    padding: 20px;
}

tr:nth-child(even){
   background-color: rgba(58, 62, 62, 0.386);
}

tr:hover td{
    background-color: rgb(17, 145, 180);
}