body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ropa Sans', sans-serif;
}


.imagen-cabecera{
    width: 100%;
    height: 900px;
}

.titulo-principal{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: rgb(0, 0, 0);
}

.titulo-tabla{
   text-align: center;
   margin: 0px;

}

.tabla{
    width: 50%;
    height: 20%;
    text-align: center;
    border-collapse: collapse;
    box-shadow: -5px 5px 30px 2px rgb(53, 50, 50);
    margin-top: 50px;
}

th,td{
  padding: 20px;
}

th{
    color: aliceblue;
}

thead{
    background-color: #14b491;
    border-bottom: solid  5px #0f362d;
    padding: 20px;
}

tr:nth-child(even){
   background-color: rgba(58, 62, 62, 0.386);
}

tr:hover td{
    background-color: rgb(17, 145, 180);
}

.imagen-ferrari-dayotna{
    width: 100%;
    height: 100px;
    border-radius: 4px;
}

.img-lamborgini-veneno{
    width: 90%;
    height: 120px;
    border-radius:4px;
}

.aston-martin-vulcan{
    width: 90%;
    height:120px;
    border-radius:4px;
}

.mercedez-amg-td{
    width: 90%;
    height: 120px;
    border-radius:4px;
}

.div_img_tabla{
    display: flex;
    justify-content: center;
    
}

.aston-martin-x75{
    width: 90%;
    height: 100px;
    border-radius:4px;
}

.bugatti-chiron-gold{
    width: 90%;
    height: 100px;
    border-radius:4px;
}

.Koenigsegg-Regera-blue{
    width: 90%;
    height: 100px;
    border-radius:4px;
}

.toyota-l300{
    width: 90%;
    height: 120px;
    border-radius:4px;
}

.camaro{
    width: 90%;
    height: 120px;
    border-radius:4px;
}

.Roll-royce-blanco{
    width: 90%;
    height: 120px;
    border-radius:4px;
}

.css-div-tabla{
display: flex;
justify-content: center;
}

.css-text-area{
    width: 20%;
}